@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,800&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}

:root
{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate: hsl(168, 34%, 41%);
    --Verydark: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    --Footer-bg: #90d4c5;
}

.img-mobile 
{
    display: none;
}

/********HEADER********/
header 
{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(../images/desktop/image-header.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.header-content > img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
  
.header-content > .content 
{
    position: absolute;
    display: grid;
    gap: 36px;
    place-items: center;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}
  
.header-content > .content h1 
{
    font-family: 'Fraunces', sans-serif;
    font-weight: 800;
    color: var(--White);
    font-size: 56px;
    text-transform: uppercase;
    letter-spacing: 8px;
    white-space: nowrap;
}
  
.header-content > .content > img 
{
    height: 120px;
    width: auto;
    animation: arrow-down-move 1s ease-in infinite alternate;
}
  
@keyframes arrow-down-move 
{
    to {
      transform: translateY(40px);
    }
  }
  
.toolbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    position: absolute;
    width: 100%;
    z-index: 1;
}
  
.toolbar > img.logo 
{
    width: 200px;
    min-width: 200px;
}
  
.toolbar nav ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 48px;
}
  
.toolbar nav li a 
{
    display: block;
    cursor: pointer;
    position: relative;
    color: var(--White);
    font-size: 18px;
    text-decoration: none;
}

.toolbar nav li a:not(.contact)::before 
{
    content: '';
    position: absolute;
    bottom: -6px;
    height: 3px;
    border-radius: 2px;
    width: 100%;
    transition: transform 0.3s;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
}
  
.toolbar nav li a:not(.contact):hover::before 
{
    transform: scaleX(1);
    transform-origin: left;
}
  
.toolbar nav li a.contact 
{
    font-family: "Fraunces", sans-serif;
    color: var(--Verydark);
    background-color: var(--White);
    padding: 16px 24px;
    border-radius: 24px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.2s;
}

.toolbar nav li a.contact:hover 
{
    color: var(--White);
    background-color: rgba(255,255,255,0.3);
}
  
.toolbar > button.hamburger 
{
    display: none;
    width: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
  
.toolbar > button.hamburger svg 
{
    width: 100%;
    height: 100%;
}

/********ABOUT********/
.about-row 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text
{
    padding: 20%;
    background-color: var(--White);
}

.about-text h2 
{
    font-size: 36px;
    font-weight: 900;
    font-family: "Fraunces", sans-serif;
    color: var(--Verydark);
}

.about-text p 
{
    font-size: 18px;
    line-height: 28px;
    margin-top: 32px;
    color: var(--Dark-grayish-blue);
}

.about-text a 
{
    display: block;
    font-family: "Fraunces", sans-serif;
    text-transform: uppercase;
    position: relative;
    width: fit-content;
    padding: 0 8px;
    color: var(--Verydark);
    cursor: pointer;
    margin-top: 32px;
    font-weight: 900;
    z-index: 0;
}
  
.about-text a::before 
{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 8px;
    bottom: -3px;
    left: 0;
    z-index: -1;
    opacity: 0.3;
    transition: 0.2s;
}
  
.about-text a.yellow::before
{
    background-color: var(--Yellow);
}
  
.about-text a.red::before 
{
    background-color: var(--Soft-red);
}
  
.about-text a:hover::before 
{
    opacity: 1;
}

/********SERVICES********/
section#services 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
  
.service 
{
    position: relative;
}
  
.service > img 
{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
  
.service-text 
{
    padding: 350px 25% 5%;
    text-align: center;
}
  
.service-text.graphic-design 
{
    color: var(--Dark-desaturated-cyan);
}
  
.service-text.photography 
{
    color: var(--Dark-blue);
}
  
.service-text h2 
{
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 32px;
    text-transform: capitalize;
}

.service-text p 
{
    font-size: 18px;
    line-height: 28px;
}

/********TESTIMONIALS********/
section#testimonials 
{
    padding: 10%;
    background-color: var(--White);
}
  
section#testimonials h2 
{
    text-align: center;
    font-family: 'Fraunces', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--Grayish-blue);
    font-weight: 900;
}
  
.testimonials-grid 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
  
.testimonial 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 56px;
    padding: 0 24px; 
}

.testimonial > img 
{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
  
.testimonial > p 
{
    margin-top: 56px;
    font-size: 18px;
    line-height: 28px;
    color: var(--Very-dark-grayish-blue);
}
  
.user-data 
{
    margin-top: 56px;
}
  
.user-data p.name 
{
    font-family: 'Fraunces', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: var(--Verydark);
    margin: 0;
}

.user-data p.role 
{
    color: var(--Grayish-blue);
    font-size: 16px;
    margin-top: 14px;
}

/********PROJECTS********/
section#projects 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
  
section#projects img 
{
    width: 100%;
  
}

/********FOOTER********/
footer 
{
    background-color: var(--Footer-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px;
}
  
footer > svg.logo 
{
    color: var(--Dark-moderate);
    width: 160px;
    height: auto;
}
  
footer ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
  
footer ul li 
{
    cursor: pointer;
}
  
footer ul li a 
{
    color: var(--Dark-moderate);
    transition: 0.2s;
}
  
footer ul li a:hover
{
    color: var(--White);
}
  
ul.section-links 
{
    gap: 56px;
    margin-top: 32px;
}
  
ul.section-links li a 
{
    font-size: 18px;
    text-decoration: none;
}
  
ul.social-links 
{
    margin-top: 72px;
    gap: 26px;
}
  
ul.social-links li 
{
    font-size: 24px;
}

/********RESPONSIVE********/

@media screen and (max-width: 500px) 
{
    .img-desktop 
    {
        display: none;
    }
  
    .img-mobile 
    {
        display: block !important;
    }
  
    .toolbar > button.hamburger 
    {
        display: block;
    }
  
    .toolbar > nav 
    {
        position: absolute;
        background-color: var(--White);
        top: 100px;
        width: calc(100vw - 64px);
        left: 50%;
        transform: translateX(-50%);
        padding: 32px 0;
        opacity: 0;
        visibility: hidden;
        transition: transform 0.5s;
    }
  
    .toolbar > nav.show 
    {
        transform: translate(-50%, 10px);
        opacity: 1;
        visibility: visible;
    }
  
    .toolbar > nav::before 
    {
        position: absolute;
        content: '';
        background-color: inherit;
        height: 30px;
        width: 25px;
        clip-path: polygon(0 100%, 100% 100%, 100% 0);
        right: 0;
        top: -29px;
    }
    
    .toolbar nav ul 
    {
        flex-direction: column;
        gap: 32px;
    }
    
    .toolbar nav li a 
    {
        color: var(--Very-dark-grayish-blue);
    }
  
    .toolbar nav li a.contact 
    {
        background-color: var(--Yellow);
    }
  
    .toolbar nav li a.contact:hover 
    {
        color: var(--Verydark);
        background-color: var(--Yellow);
    }
  
    .toolbar > img.logo 
    {
        width: 130px;
        min-width: 130px;
    }
  
    .header-content > .content 
    {
        top: 43%;
    }
  
    .header-content > .content h1 
    {
        font-size: 36px;
        white-space: initial;
        text-align: center;
        letter-spacing: 5px;
    }
  
    .header-content > .content > img.hidden 
    {
        display: none;
    }
  
    .about-row 
    {
        grid-template-columns: 1fr;
    }
  
    .about-row:first-of-type > .about-text 
    {
        order: 1;
    }
  
    .about-row > .about-text 
    {
        padding: 56px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
  
    .about-row > .about-text > h2 
    {
        font-size: 32px;
        margin: 0;
    }
  
    .about-row > .about-text > p 
    {
        margin-bottom: 0;
    }
  
    section#services 
    {
        grid-template-columns: 1fr;
    }
  
    .service-text 
    {
        padding: 350px 24px 32px;
    }
  
    .service-text h2 
    {
        font-size: 28px;
    }
  
    .service-text p 
    {
      font-size: 16px;
      line-height: 26px;
    }
  
    section#testimonials 
    {
        padding: 56px 24px;
    }
  
    section#testimonials h2 
    {
        font-size: 16px;
        letter-spacing: 4px;
        margin-top: 0;
    }
  
    .testimonials-grid 
    {
        grid-template-columns: 1fr;
    }
  
    .testimonial 
    {
        padding: 0;
    }
  
    .testimonial > p 
    {
        margin-top: 24px;
    }
  
    .user-data 
    {
        margin-top: 16px;
    }
  
    .user-data p.role 
    {
        margin-top: 8px;
        font-size: 14px;
    }
  
    section#projects 
    {
        grid-template-columns: 1fr 1fr;
    }
  
    footer 
    {
        padding: 64px 24px 72px;
    }
  
    footer ul.section-links 
    {
        margin-top: 48px;
    }
  
    ul.social-links li 
    {
        font-size: 22px;
    }
  }
  