@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,800&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate: hsl(168, 34%, 41%);
    --Verydark: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

header
{
    width: 100%;
    height: 100px;
    background-color: #3dbeff;
}

.header-container
{
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 25px;
}

.header-container img 
{
    margin-left: 30px;
    height: 30px;
}

.header-menu
{
    display: grid;
    grid-template-columns: 60% 40%;
}

.header-ul
{
    margin-top: 14px;
}

.header-ul li
{
    display: inline-block;
    color: var(--White);
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    margin-right: 30px;
}

.button
{
    padding: 15px 20px;
    border-radius: 25px;
    background-color: var(--White);
    font-size: 14px;
    font-family: 'Fraunces', serif;
    border: none;
    text-transform: uppercase;
}

.hero 
{
    width: 100%;
    height: 630px;
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.hero-center
{
    width: 50%;
    margin: auto;
}

.hero-center h1 
{
    font-size: 45px;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    color: var(--White);
    text-align: center;
    letter-spacing: 8.5px;
    padding-top: 50px;
}

.hero-flecha img
{
    display: block;
    margin: auto;
    margin-top: 100px;
}